u{
    color:red;
}
b{
    color: blue;
}
h4{
    text-align:right
}

.formwidth {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding: 15px;
    border: 1px solid black;
  }
  
  .fullwidth {
    width: 100%;
  }
  .active{
    color:white;
  }
  #icon{
    color:white;
    }