<!-- <mat-toolbar color="primary">
        <span class="fill-remaining-space">Reject reason</span>
      </mat-toolbar> -->
      
      <div class="container" *ngIf="!post; else forminfo" novalidate>
        <mat-toolbar color="primary">
                <span class="fill-remaining-space">Reject reason</span>
              </mat-toolbar>
    <form ngNativeValidate [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">


      <p>
        <mat-form-field class="fullwidth">
          <textarea matInput formControlName="reject" placeholder="Reject Reason" id="reject" [(ngModel)]="reject.reject" name="reject"
            type="text" required></textarea>
          <!-- <mat-error *ngIf="!reason">*Reason is required</mat-error>         -->
          <!-- <mat-error *ngIf="!formGroup.controls['reason'].valid && formGroup.controls['reason'].touched">
                    reason is required
                  </mat-error> -->
          <mat-error *ngIf="!formGroup.controls['reject'].valid">
            {{getErrorReason()}}
          </mat-error>
        </mat-form-field>
      </p>

  
      <div  class="form-element">
        <button mat-raised-button   color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit</button>
        <button mat-button (click)="onNoClick()">Cancel</button>
  
      </div>
  
    </form>
  </div>
  
  <!-- <ng-template #forminfo>
    <div class="container">
      {{ post | json }}
    </div>
  </ng-template> -->